<app-page>
  <div class="header-container" slot="header">
    <h1 class="mr-4">New employee skills</h1>
  </div>
  <div class="content-container" slot="content">
    <form [formGroup]="form">

      <div class="first-row-grid">
        <mat-form-field appearance="fill">
          <mat-label>Current position</mat-label>
          <input matInput
            type="text"
            formControlName="position">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Years of experience</mat-label>
          <input matInput
            type="number"
            formControlName="yearsOfExperience">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Site</mat-label>
          <mat-select formControlName="siteID" [disabled]="form?.value?.remote">
            <mat-option *ngFor="let site of sites$ | async" [value]="site.id">
              {{site.city}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="remote">Remote</mat-checkbox>
      </div>

      <div class="form-array-container">

        <div class="skills-container" formArrayName="skills">
          <h2>Skills</h2>
          <ng-container *ngFor="let skill of formSkills.controls; let i = index; let last = last"; >
            <div class="skill-row" [formGroupName]="i">
              <mat-form-field appearance="fill">
                <mat-label>Macro area</mat-label>
                <mat-select formControlName="feBeDevops">
                  <mat-option *ngFor="let skill of skillsList" [value]="skill.description">
                    {{skill.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Area</mat-label>
                <mat-select formControlName="webMobile">
                  <mat-option *ngFor="let area of areaList[i]" [value]="area.description">
                    {{area.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Technology</mat-label>
                <mat-select formControlName="technology">
                  <mat-option *ngFor="let tech of techList[i]" [value]="tech.description">
                    {{tech.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Level</mat-label>
                <mat-select formControlName="level">
                  <mat-option *ngFor="let level of skillLevels$ | async" [value]="level.id">
                    {{level.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Project</mat-label>
                <input matInput
                  type="text"
                  formControlName="projectRef">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput
                  type="text"
                  formControlName="description">
              </mat-form-field>

              <div *ngIf="!(last && i === 0)" class="delete-item">
                <mat-icon class="delete-btn" (click)="deleteSkill(i)">delete_forever</mat-icon>
              </div>
            </div>

          </ng-container>
          <div class="add-item">
            <button mat-mini-fab (click)="addSkill()">
              <mat-icon class="add-course-btn">add</mat-icon>
            </button>
          </div>

        </div>

        <div class="languages-container" formArrayName="languages">
          <h2>Languages</h2>
          <ng-container *ngFor="let language of formLanguages.controls; let i = index; let last = last"; >
            <div class="language-row" [formGroupName]="i">

              <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <mat-select formControlName="languageID">
                  <mat-option *ngFor="let lang of languages$ | async" [value]="lang.id">
                    {{lang.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Level</mat-label>
                <mat-select formControlName="levelID">
                  <mat-option *ngFor="let level of languagesLevel$ | async" [value]="level.id">
                    {{level.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-checkbox formControlName="preferred">Preferred</mat-checkbox>

              <div *ngIf="!(last && i === 0)" class="delete-item">
                <mat-icon class="delete-btn" (click)="deleteLanguage(i)">delete_forever</mat-icon>
              </div>
            </div>
          </ng-container>
          <div class="add-item">
            <button mat-mini-fab (click)="addLanguage()">
              <mat-icon class="add-course-btn">add</mat-icon>
            </button>
          </div>

        </div>
      </div>

    </form>
  </div>
  <div class="footer-container" slot="footer">
    <button class="ml-2"
      mat-raised-button
      type="submit"
      color="primary"
      [class.spinner]="loading"
      [disabled]="loading"
      (click)="submit()">
      Save skills
    </button>
  </div>
</app-page>
