.header-container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.content-container {
  height: 100%;
  width: 100%;

  .first-row-grid {
    display: grid;
    grid-template-columns: 22% 12% 20% 10%;
    column-gap: 1rem;
    align-items: center;
  }

  .form-array-container {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  .skills-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid gainsboro;
    border-right: none;
    padding: 1rem;

    @media screen and (min-width: 1720px) {
      height: 570px;
    }

    .skill-row {
      display: grid;
      grid-template-columns: 15% 12% 15% 12% 15% 17% 5%;
      column-gap: 1rem;
      align-items: center;
    }
  }

  .languages-container {
    border: 1px solid gainsboro;
    padding: 1rem;
    height: 400px;
    overflow-y: auto;

    @media screen and (min-width: 1720px) {
      height: 570px;
    }

    .language-row {
      display: grid;
      grid-template-columns: 40% 25% 18% 5%;
      align-items: center;
      column-gap: 1rem;
    }
  }

  .delete-item {
    cursor: pointer;
  }

  .add-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 2rem;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
