.content-container {
  height: 100%;
  width: 100%;
  max-height: calc(100vh - 12rem);

  .spinner-container {
    height: calc(100vh - 14rem);
    width: calc(100% - 5rem);
  }
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 2rem;
}

.person-card {
  width: 300px;
  height: 256px;
  border: 1px solid lightgray;

  .mat-card-actions {
    position: absolute;
    bottom: 12px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 104px;

  .title-skill {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}

.waiting-text {
  position: absolute;
  bottom: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: calc(100% - 5rem);
  font-size: 1rem;

  @media screen and (min-width: 1720px) {
    bottom: 13rem;
  }
}


