.page-container {
  padding: 1rem 2rem;
  height: 100%;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 2fr 1fr;

  .header {
    grid-area: header;
  }

  .content {
    grid-area: content;
    overflow-y: auto;
  }

  .footer {
    grid-area: footer;
  }
}
